

<div class="form-group">
    <label for="title">Title</label>
    <input value="<%= article.title %>"" type="text" class="form-control" name="title" id="title" required>
</div>

<div class="form-group">
    <label for="description">description</label>
    <textarea class="form-control" name="description" id="description" required><%= article.description %></textarea>
</div>

<div class="form-group">
    <label for="markdown">markdown</label>
    <textarea type="text-area" class="form-control" name="markdown" id="markdown" required><%= article.markdown %></textarea>
</div>


<button type="submit" class="btn btn-primary">Save</button>
<a href="/" class="btn btn-secondary">Cancel</a>